.generate{
    background-color: black;
    color: white;
    .heading {
        font-size: 80px;
        letter-spacing: -6px;
        font-weight: 500;
        line-height: 60px;
        opacity: 0;
        /* Set initial opacity to 0 */
        animation: fadeIn 1s ease-in-out forwards 0.2s;
      }
    .progress-bar{
        margin-top: 36px;
        width: 760px;
        margin-left: -20px;
        margin-bottom: 36px;
    }
    .button-wrapper{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .cta{
        padding: 16px 30px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        // border: 2px solid pink;
        background-color: var(--very-light-pink);
        cursor: pointer;
        transition: all .5s ease;
        margin-top: 36px;
        &:hover{
            border: 2px solid rgb(255, 118, 214);
        }
    }
    .step{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 760px;
        .togglecontainer{
            margin-top: -30px;
        }
    }
    .input-wrapper{
        display: flex;
        flex-direction: column;
        width: 200px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        input{
            padding: 10px;
            border: 2px solid pink;
            border-radius: 5px;
            font-size: 18px;
        }
        h4{
            width: 400px;
            margin-top: 20px;
        }
        .image-input{
            display:flex;
            align-items: center;
            gap: 20px;
            input{
                font-size: 16px;
                padding: 8px;
                width: 300px;
            }
        }
      }
}