.signup {
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  width: 100vw;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .glassbox {
    box-sizing: border-box;
    padding: 75px 50px;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.178);
    box-shadow: 0px 10px 50px 0 rgb(31 38 135 / 20%);
    /* CHANGE THIS TO CHANGE THE BLUR AMOUNT */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 15%);
    text-align: center;
    position: relative;
    opacity: 0;
    scale: 0.5;
    animation: popIn .2s ease-in-out forwards;
    .cross{
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 50px;
        transform: rotate(45deg);
        cursor: pointer;
    }
  }
}



@keyframes popIn {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }