.signup {
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.699);
  width: 100vw;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .glassbox {
    min-height: 500px;
    box-sizing: border-box;
    padding: 35px 50px;
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.178);
    box-shadow: 0px 10px 50px 0 rgb(31 38 135 / 20%);
    /* CHANGE THIS TO CHANGE THE BLUR AMOUNT */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 15%);
    text-align: center;
    position: relative;
    opacity: 0;
    scale: 0.5;
    animation: popIn .2s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .cross{
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 50px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .button-wrapper{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .cta{
        padding: 16px 30px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        // border: 2px solid pink;
        background-color: var(--very-light-pink);
        cursor: pointer;
        transition: all .5s ease;
        margin-top: 36px;
        &:hover{
            border: 2px solid rgb(255, 118, 214);
        }
    }
    .input-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        input{
            padding: 10px;
            border: 2px solid pink;
            border-radius: 5px;
            font-size: 18px;
        }
        h4{
            width: 400px;
            margin-top: 20px;
            text-align: left;
        }
        .image-input{
            display:flex;
            align-items: center;
            gap: 20px;
            input{
                font-size: 16px;
                padding: 8px;
                width: 300px;
            }
        }
      }
    .step-1{
        display: flex;
        align-items: center;
        flex-direction: column;
        &>div{
            width: min-content;
        }
    }
    .step-2{
      width: 300px;
    }
    .last-step{
      margin-top: 10px;
      p{
        font-size: 20px;
        text-align: left;
        margin-bottom: 5px;
        &:first-of-type{
          margin-bottom: 12px;
        }
      }
      .image-wrapper{
        display: flex;
        gap: 100px;
        margin-top: 20px;
        align-items: start;
        p{
          font-size: 16px;
        }
      }
    }
  }
}



@keyframes popIn {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }