.verify{
    color: white;
    background-color: black;
    .heading{
        margin-top: 20px;
        font-size: 100px;
        letter-spacing: -6px;
        font-weight: 500;
        line-height: 60px;
        opacity: 0; /* Set initial opacity to 0 */
        animation: fadeIn 1s ease-in-out forwards 0.2s;
    }
    .button-wrapper{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: min-content;
        gap: 20px;
        .cta{
            white-space: nowrap;
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            font-size: 20px;
            cursor: pointer;
            background-color: var(--strong-pink);
            color: white;
            width: min-content;
            z-index: 1;
            &.input{
                width: 60vw;
            }
        }
        .continue{
            padding: 20px 40px;
            background-color: var(--very-light-pink);
            color: var(--strong-pink);
            font-size: 30px;
            transition: all 0.5s ease;
            &:hover{
                scale: 1.1;
            }
        }
    }
    .verifying-image{
        img{
            height: 300px;
            margin-top: 60px;
        }
    }
    .result-img{
        height: 220px;
        margin: 0px;
        padding: 0px;
        margin-left: -5%;
        margin-right: 20px;
    }
    .content-wrapper{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .document-info{
            display: flex;
            align-items: left;
            flex-direction: column;
            gap: 10px;
            color: greenyellow;
            font-size: 20px;
        }
        .button-wrapper{
            margin-left: 100px;
            margin-top: 0px;
            button{
                width: 100%;
            }
        }
    }
}
